<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style-css.css">    
    <title>STOCK APP</title>
</head>

<body>
<h2>Stock App</h2><br>
<div class="status">
    <label><p>Status: <%=statusMessage%></p></label>
    <label><p>APi key : <%=apiKey%> </p></label>
</div>
</body>
</html>
